<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Климатические индексы Иркутской области</title>
    <script src="https://cdn.plot.ly/plotly-2.27.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar-menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reanalysis.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forecast.css') }}">
</head>
<body>
    <div class="app">
        <div class="left-panel">
            {% include 'sidebar-menu.html' %}
        </div>
        <div class="right-panel">
            <div id="module-forecast" class="module">
                {% include 'forecast.html' %}
            </div>
            <div id="module-reanalysis" class="module" style="display: none;">
                {% include 'reanalysis.html' %}
            </div>
        </div>
    </div>
</body>
</html>