<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Климатические индексы Иркутской области</title>
    <script src="https://cdn.plot.ly/plotly-2.27.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reanalysis.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forecast.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/run_meta.css') }}">
</head>
<body>
    <div class="app">
        <div class="left-panel">
            {% include 'sidebar-menu.html' %}
        </div>
        <div class="right-panel">
            <div id="module-forecast" class="module">
                {% include 'forecast.html' %}
            </div>
            <div id="module-forecast-hci" class="module" style="display: none;">
                {% include 'forecast_hci.html' %}
            </div>
            <div id="module-reanalysis" class="module" style="display: none;">
                {% include 'reanalysis.html' %}
            </div>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/map_gfs.js') }}"></script>   
    <script type="module" src="{{ url_for('static', filename='js/run_meta.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/sidebar-menu.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/forecast.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/forecast_hci.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reanalysis.js') }}"></script>
</body>
</html>