<div class="map-wrap">
  <div id="{{ map_id | default('gfs-map') }}" class="gfs-map">
    <div class="placeholder"><div class="spinner"></div><span>Загрузка карты…</span></div>
  </div>
  <div class ="map-legend">
    <div class="legend-item"><div class="legend-color" style="background:#006837;"></div><span>≥80 Отлично</span></div>
    <div class="legend-item"><div class="legend-color" style="background:#44aa44;"></div><span>70-79 Очень хорошо</span></div>
    <div class="legend-item"><div class="legend-color" style="background:#ffff00;"></div><span>60-69 Хорошо</span></div>
    <div class="legend-item"><div class="legend-color" style="background:#ffcc00;"></div><span>50-59 Удовлетворительно</span></div>
    <div class="legend-item"><div class="legend-color" style="background:#ff9900;"></div><span>40-49 Плохо</span></div>
    <div class="legend-item"><div class="legend-color" style="background:#ff0000;"></div><span>&lt;40 Очень плохо</span></div>
  </div>
</div>